<div class="container">
  <p id="notice"><%= notice %></p>

  <p style="font-size: 3em">
    <strong><%= @post.title %></strong>
  </p>

  <p style="font-size: 1.3em; font-style: italic; color: #666464">
    <%= @post.description %>
  </p>

  <p style="font-size: 1.1em">
    By 
    <a style="color: #e2127A" href="#">
      <%= User.find(@post.user_id).username %>
    </a>
    | <%= @post.created_at %>
  </p>
  <p>
    <%= @post.body.html_safe %>
  </p>

  <%= link_to 'Back', root_path, class: "btn btn-primary" %>

  
  </div>