<section class="page-top-section set-bg" data-setbg="<%= image_path("page-top-bg/1.jpg") %>">
  <div class="page-info">
    <h2>Games</h2>
    <div class="site-breadcrumb">
      <a href="">Home</a>  /
      <span><%= Category.find(@post.category_id).name %></span>
    </div>
  </div>
</section>
<section class="games-single-page">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="game-single-preview">
      <img src="<%= image_path("games/big.jpg") %>" alt="">
    </div>
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
        <div class="gs-meta"><%= @post.created_at %>  /  in <a href=""><%= Category.find(@post.category_id).name %></a></div>
        <h2 class="gs-title"><%= @post.title %></h2>
        <p style="font-size: 1.3em; font-style: italic; color: #666464">
          <%= @post.description %>
        </p>
        <%= @post.body.html_safe %>
        <div class="geme-social-share pt-5 d-flex">
          <p>Share:</p>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
        <div id="stickySidebar">
          <div class="widget-item">
            <div class="rating-widget">
              <h4 class="widget-title">Ratings</h4>
              <ul>
                <li>Price<span>3.5/5</span></li>
                <li>Graphics<span>4.5/5</span></li>
                <li>Levels<span>3.5/5</span></li>
                <li>Levels<span>4.5/5</span></li>
                <li>Dificulty<span>4.5/5</span></li>
              </ul>
              <div class="rating">
                <h5><i>Rating</i><span>4.5</span> / 5</h5>
              </div>
            </div>
          </div>
          <div class="widget-item">
            <div class="testimonials-widget">
              <h4 class="widget-title">Testimonials</h4>
              <div class="testim-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo re magna aliqua. Quis ipsum suspend isse ultrices.</p>
                <h6><span>James Smith,</span>Gamer</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Games end-->

<section class="game-author-section">
  <div class="container">
    <div class="game-author-pic set-bg" data-setbg="<%= image_path("author.jpg") %>"></div>
    <div class="game-author-info">
      <h4>Written by: <%= User.find(@post.user_id).username %></h4>
      <p>Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincid-unt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros alique.</p>
    </div>
  </div>
</section>
<div class="fb-comments d-flex justify-content-center" data-href="http://game-on-rails.com/posts/<%= @post.id %>" data-width="1000" data-numposts="5"></div>